* {
  margin: 0;
  padding: 0;
  background-color: #8ecae6;
  color: #023047;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  margin: 1rem;
  /* line-height: 2rem; */
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 10px 10px;
}
.choices {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 5rem;
}
.choice{
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
     margin: 1rem;
  padding: 1rem;
    transition: all 0.3s ease;
}
.choice:hover{
 transform: scale(1.2);
 cursor: pointer;

}

.scoreboard {
  display: flex;
  justify-content: center;
  align-content: center;
}
#score {
  font-size: 2rem;
  margin: 2rem;
}

p {
  margin: 5px;
  padding: 3px;
}

.centered-text {
  background-color: #219ebc;
  display: inline; /* allows padding and centering */
  margin-top: 30px;
  padding: 0.2em 0.6em;
  border-radius: 20px; /* optional for rounded corners */
  text-align: center;
  font-size: 3rem;
}
.container {
  text-align: center; /* centers the inline-block element */
}
